.container-fluid{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.navbar-collapse{
   width:auto;
   flex-grow:0;
}
nav{
    background-color:white;
    border-bottom:.7px solid black;
}

.lc{
  font-size:18px;
  text-transform:bold;
}

.nvr{
  margin-left:5px;
  height:40px;
  text-align:center;
  width:80px;
  border:1px solid black;
  border-radius:5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

.log{
 display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

.navbar-collapse > a{
  margin-left:5px;

}